
body{
  background-image: url('background.png')
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover{
    background-color:red;
    color:rgb(254, 254, 254);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.heading{
    text-align: center;
    text-decoration: underline black;
    color:red;
    font-style: oblique;
    font-weight: 7000;
  }
  
.bg-red{
  background: red;
}
.container{
    background-color: red;
    text-align: center;
   
    width:fit-content;
}
input[type="text"]{ 
    background-color: rgb(56, 54, 54);
    color:red;
    padding:30px;
    padding-bottom: 30px;
}
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: row;
}

.items-center{
  align-items: center;
}
.text-center{
  text-align: center;
}

.bg-red{
  background: red;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.btn{
    
    background-color:black;
    padding:5px;
}